*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
}

html{
	height: 100%;
	width: 100%;
}


body{
	width: 100%;
	height: 100%;
	background-color: #2F3336;
}

h1{
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

.banner{
	padding-top:2%;
}

.modal h5,.modal .row div{
	color: white;
}

#modal-alert a{
	color: #5385AB;
}

#modal-alert .modal-content{
	font-size: 107%;
}

.modal-content,.modal-dialog{
	background-color: #3d3e3f;
}

.student-modal h5{
	margin: auto;
}

.student-modal .col{
	padding-top: 2%;
	padding-bottom: 2%;
}

.student-modal .col:first-child{
	text-align: right;
}

.student-modal .col:nth-child(2){
	text-align: center;
}

.student-modal .col:nth-child(2) *{
	color: black;
}

.student-modal button:hover{
	cursor: pointer;
}

.page-header{
	height: 20%;
	padding-top: 1.5%;
	margin: auto;
	margin-bottom: 1%;
}

.page-main-section{
	height: 70%;
	margin: auto;
	background-color: rgba(56,94,123,0.8);
	overflow: auto;
}

.content-table{
	text-align: center;
}

.content-table tr:nth-of-type(even){
	background-color: #5385AB;
}

.content-table th{
	text-shadow: 2px 2px 4px black;
}

.banner{
	background-color: #5385AB;
	height: 80%;
}

.nav-main,.nav-user{
	list-style-type: none;
}

.table-layout{
	overflow: auto;
}

.login_register{
	margin: auto;
	margin-top: 12%;
}

.login_register div{
    text-align: center;
}

.login_register .button{
	padding: 1% 5%;
	background-color: gray;
}

.login_register .label{
	font-size: 120%;
	text-align: left;
}

.student-grades,.teacher-grades{
	margin: auto;
	margin-bottom: 2%;
}

.student-grades .student-name{
	font-size: 140%;
	margin-bottom: 3%;
}

.teacher-grades .subject-name-add{
	font-size: 140%;
	margin-bottom: 2%;
	background-color: rgba(56,94,123,0);
}

.grades li{
	background-color: #5385AB;
}

.grades button{
	color: gray;
	padding: 0.5% 1%;
	margin-left: 1%;
}

.grades input{
	color: black;
}

.grades div{
	background-color: #476E8D;
	margin-bottom: 1%;

}

.grades ul div{
	color: white;
}

.grades .list-group-horizontal li{
	background-color: #476E8D;
	margin-bottom: 1%;
}

.user-panel{
	margin: auto;
	margin-top: 8%;
}

.user-panel>*{
	margin:auto;
}

.user-functions{
	background-color: #476E8D;
	height: 400px;
	margin-bottom: 5%;
	margin-top: 6%;
	text-align: center;
}

.waiting-list{
	background-color: #476E8D;
	text-align: center;
}

.waiting-list>div:first-child{
	font-size: 140%;
}

.waiting-element{
	border-bottom: 2px solid white;
	margin:auto;
	font-size: 120%;
}

.list-name:hover{
	cursor: pointer;
}

.spinner-field{
	text-align: center;
}

.alert{
	display: none;
}

.footer{
	text-align: center;
}

#nav-menu li{
	margin: 0 20px;
	font-size: 110%;
}

#nav-menu li:first-child{
	margin-left: 0;
}

#nav-menu li:last-child{
	margin-right: 0;
}

.loadWheel img{
    animation: rotate 0.75s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}