html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    background-color: #2f3336;
    color: #efefef;
    font-family: Georgia;
    font-size: 17px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1.logo{
    font-size: 44px;
    font-weight: 700px;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

nav{
    background-color: #1c74b2;
    text-align: center;
}

.page-nav{
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    min-height: 38px;
    line-height: 200%;
}

.page-nav > li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;
}

.page-nav >li:first-child{
    border-left: 1px dashed #0a2b42;
}

.page-nav a{
    color:#fff;
    text-decoration: none;
}

.page-nav a:hover{
    color: #0a2b42;
}

main{
    width: 100%;
    height: 75%;
}

section{
    background-color: #18649e;
    width: 80%;
    float: left;
    height: 100%; 
    overflow-x: hidden;
}

.page-section{
       width: 100%;
       height: 100%;
       padding: 2%;
}

aside{
    background-color: #2c5961;
    float: left;
    width: 20%;
    height: 100%;
}

.page-aside{
    width: 100%;
    height: 100%;
    padding: 1%;
}

footer{
    clear: both;
    height: 10%;
}

.page-footer{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.content-table{
    margin:auto;
    border-collapse: collapse;
    font-size: 90%;
    min-width: 40%;
    width:80%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #89b4ce;
    font-weight: bold;
    color: #033a2f;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.short-table{
	width: 40%;
}

.login-table{
    margin: 10% 2%;
    border-collapse: collapse;
    font-size: 90%;
    min-width: 40%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 95%;
}

.login-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.login-table th, .login-table td{
    padding: 5% 5%;
}

.errors{
    font-size: 120%;
    text-align: center;
    border-bottom: 1px solid rgba(34, 58, 25, 0.15);
}
#err{
    width:1%;
    height:1%;
    background-color:#2c5961;
    text-align:center;
    padding:1%;
    position:absolute;
    opacity:1;
    font-size:2px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-shadow:0 0 4px 4px black;
}

#widok{
      width:100%;
      height:100%; 
      position:absolute;
      top:0;
      left:0;
      background-color: black;
      opacity: 0.5;
 }

.errorFirst{
        font-size: 110%;
        padding-bottom:5%;
    }

 .errorSecond{
        font-size: 90%;

    }